<tr>
 	<TD>Имя</TD><TD>Имя</TD><TD>Имя</TD><TD>Имя</TD><TD>Имя</TD><TD>Имя</TD>
 </tr>	
<tr>
 	 	<TD><input type="text" name="name" id="id2"></TD>
 	 	<TD><input type="text" name="name" id="id2"></TD>
 	 	<TD><input type="text" name="name" id="id2"></TD>
</tr>
